IO_LOC "clk" 4; 
IO_PORT "clk" IO_TYPE=LVCMOS33; 

IO_LOC "reset" 88; 
IO_PORT "reset" IO_TYPE = LVCMOS33; 

IO_LOC "led0" 15; 
IO_PORT "led0" IO_TYPE= LVCMOS33; 

IO_LOC "led1" 16; 
IO_PORT "led1" IO_TYPE = LVCMOS33; 

IO_LOC "led2" 17; 
IO_PORT "led1" IO_TYPE = LVCMOS33; 